<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="r0DIGSA1Hb8fJZYQh3fToCSk1qiczKffgRK1aUYm">
    <title>商品列表 - 二手物品交易系统</title>
    <!-- 样式 -->
    <link href="/css/app.css?id=4c2e9f03a0e67c857b93" rel="stylesheet">
</head>
<body>
    <div id="app" class="products-index-page">
        <nav class="navbar navbar-default navbar-static-top navbar-orange">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-font" href="http://oldgoodstrade.test">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                二手数码交易
            </a>
        </div>
        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                  <a href="#" class="navbar-font">网站特点</a>
              </li>
              <li>
                  <a href="#" class="navbar-font">联系我们</a>
              </li>
              <li>
                  <a href="#" class="navbar-font">FAQ</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="ranklist" href="#" class="dropdown-toggle navbar-font" data-toggle="dropdown" role="button" aria-expanded="false">排行榜</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="http://oldgoodstrade.test/rankingsale">销量排行</a>
                        </li>
                        <li>
                            <a href="http://oldgoodstrade.test/rankingpoint">评分排行</a>
                        </li>
                    </ul>
                </li>
                <!-- 登录注册链接开始 -->
                                 <li class="nav-item">
                    <a class="nav-link mt-1" href="http://oldgoodstrade.test/cart"><i class="fa fa-shopping-cart"></i></a>
                 </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                                <img src="http://img3.imgtn.bdimg.com/it/u=1445625913,3093063972&fm=26&gp=0.jpg" height="30px">
                            </span>
                            test1 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="http://oldgoodstrade.test/user_addresses">收货地址</a>
                            </li>
                            <li>
                                <a href="http://oldgoodstrade.test/orders">我的订单</a>
                            </li>
                            <li>
                                <a href="http://oldgoodstrade.test/products/favorites">我的收藏</a>
                            </li>
                            <li>
                                <a href="http://oldgoodstrade.test/logout"
                                    onclick="event.preventDefault();
                                             document.getElementById('logout-form').submit();">
                                    退出登录
                                </a>
                                <form id="logout-form" action="http://oldgoodstrade.test/logout" method="POST" style="display: none;">
                                    <input type="hidden" name="_token" value="r0DIGSA1Hb8fJZYQh3fToCSk1qiczKffgRK1aUYm">
                                </form>
                            </li>
                        </ul>
                    </li>
                                <!-- 登录注册链接结束 -->
            </ul>
        </div>
    </div>
</nav>
        <div class="container">
            <div class="row">
<div class="col-lg-10 col-lg-offset-1">
<div class="panel panel-default">
  <div class="panel-body">
    <!-- 筛选组件开始 -->
    <div class="row">
      <form action="http://oldgoodstrade.test/products" class="form-inline search-form">
        <input type="text" class="form-control input-sm" name="search" placeholder="搜索">
        <button class="btn btn-primary btn-sm">搜索</button>
        <select name="order" class="form-control input-sm pull-right">
          <option value="">排序方式</option>
          <option value="price_asc">价格从低到高</option>
          <option value="price_desc">价格从高到低</option>
          <option value="sold_count_desc">销量从高到低</option>
          <option value="sold_count_asc">销量从低到高</option>
          <option value="rating_desc">评价从高到低</option>
          <option value="rating_asc">评价从低到高</option>
        </select>
      </form>
    </div>
    <!-- 筛选组件结束 -->
    <div class="row products-list">
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/1">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/82Wf2sg8gM.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>737.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/1">好好好</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>1525笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/2">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/XrtIwzrxj7.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>523.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/2">delectus</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>1122笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/3">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/uYEHCJ1oRp.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>2505.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/3">id</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>381笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/4">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/r3BNRe4zXG.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>1538.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/4">qui</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>1007笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/5">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/2JMRaFwRpo.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>3382.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/5">sit</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>203笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/6">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/1B3n0ATKrn.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>34.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/6">voluptatem</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>651笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/7">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/C0bVuKB2nt.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>1808.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/7">autem</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>1864笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/8">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/82Wf2sg8gM.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>1569.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/8">culpa</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>778笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/9">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/XrtIwzrxj7.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>4773.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/9">nisi</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>819笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/10">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/82Wf2sg8gM.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>468.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/10">labore</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>592笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/11">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/1B3n0ATKrn.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>3589.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/11">voluptatem</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>220笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/12">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/82Wf2sg8gM.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>389.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/12">laudantium</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>568笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/13">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/1B3n0ATKrn.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>693.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/13">in</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>1298笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/14">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/82Wf2sg8gM.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>2749.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/14">id</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>109笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/15">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/2JMRaFwRpo.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>4742.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/15">error</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>960笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
            <div class="col-xs-3 product-item">
        <div class="product-content">
          <div class="top">
            <div class="img">
              <a href="http://oldgoodstrade.test/products/16">
                <img src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/XrtIwzrxj7.jpg" alt="">
              </a>
            </div>
            <div class="price"><b>￥</b>1953.00</div>
            <div class="title">
                  <a href="http://oldgoodstrade.test/products/16">dolores</a>
            </div>
          </div>
          <div class="bottom">
            <div class="sold_count">销量 <span>14笔</span></div>
            <div class="review_count">评价 <span>0</span></div>
          </div>
        </div>
      </div>
          </div>
    <div class="pull-right"><ul class="pagination">

                    <li class="disabled"><span>&laquo;</span></li>





                                                                        <li class="active"><span>1</span></li>
                                                                                <li><a href="http://oldgoodstrade.test/products?search=&amp;order=&amp;page=2">2</a></li>
                                                                                <li><a href="http://oldgoodstrade.test/products?search=&amp;order=&amp;page=3">3</a></li>
                                                                                <li><a href="http://oldgoodstrade.test/products?search=&amp;order=&amp;page=4">4</a></li>


                    <li><a href="http://oldgoodstrade.test/products?search=&amp;order=&amp;page=2" rel="next">&raquo;</a></li>
            </ul>
</div>
  </div>
</div>
</div>
</div>
        </div>
        <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p><span class="glyphicon glyphicon-envelope">给我们建议</p>
          <p><span class="glyphicon glyphicon-pencil">Terms of use</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>由一辩必过组用<span class="glyphicon glyphicon-heart"></span>编码和设计</p>
          <p>© 一辩必过 - All rights reserved</p>
        </div>
      </div>
    </div>
</footer>
    </div>
    <!-- JS 脚本 -->
    <script src="/js/app.js?id=15bb7e40966865974b1d"></script>
      <script>
    var filters = {"search":"","order":""};
    $(document).ready(function () {
      $('.search-form input[name=search]').val(filters.search);
      $('.search-form select[name=order]').val(filters.order);
      $('.search-form select[name=order]').on('change', function() {
        $('.search-form').submit();
        });
    })
  </script>
    <script>
      $(document).ready(function() {
        //排行榜移入移出
        var $dropdownLi = $('li.dropdown');
        $dropdownLi.mouseenter(function() {
        $(this).addClass('open');
      }).mouseleave(function() {
        $(this).removeClass('open');
      });
    });
    </script>
</body>
</html>
