<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="r0DIGSA1Hb8fJZYQh3fToCSk1qiczKffgRK1aUYm">
    <title>销量排行 - 二手物品交易系统</title>
    <!-- 样式 -->
    <link href="/css/app.css?id=4c2e9f03a0e67c857b93" rel="stylesheet">
</head>
<body>
    <div id="app" class="rank-sale-page">
        <nav class="navbar navbar-default navbar-static-top navbar-orange">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-font" href="http://oldgoodstrade.test">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                二手数码交易
            </a>
        </div>
        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                  <a href="#" class="navbar-font">网站特点</a>
              </li>
              <li>
                  <a href="#" class="navbar-font">联系我们</a>
              </li>
              <li>
                  <a href="#" class="navbar-font">FAQ</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="ranklist" href="#" class="dropdown-toggle navbar-font" data-toggle="dropdown" role="button" aria-expanded="false">排行榜</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="http://oldgoodstrade.test/rankingsale">销量排行</a>
                        </li>
                        <li>
                            <a href="http://oldgoodstrade.test/rankingpoint">评分排行</a>
                        </li>
                    </ul>
                </li>
                <!-- 登录注册链接开始 -->
                                    <li><a href="http://oldgoodstrade.test/login" class="navbar-font">登录</a></li>
                    <li><a href="http://oldgoodstrade.test/register" class="navbar-font">注册</a></li>
                                <!-- 登录注册链接结束 -->
            </ul>
        </div>
    </div>
</nav>
        <div class="container">
            <div class="container">
    <div class="row">
		<div class="well">
      <h1 class="text-center">Sales Top 10</h1>
      <div class="list-group">
              <a class="list-group-item" href="http://oldgoodstrade.test/products/34">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/XrtIwzrxj7.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">qui</h4>
                   <p class="list-group-item-text">Quaerat possimus aut enim nemo aliquam.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1937 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/32">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/uYEHCJ1oRp.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">quia</h4>
                   <p class="list-group-item-text">Rerum culpa esse eos similique debitis consequuntur reprehenderit.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1927 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/46">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/pa7DrV43Mw.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">blanditiis</h4>
                   <p class="list-group-item-text">Vel facilis numquam rerum voluptas molestiae.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1870 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/7">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/C0bVuKB2nt.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">autem</h4>
                   <p class="list-group-item-text">Veritatis deserunt dolor earum eum quo laboriosam deserunt.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1864 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/38">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/82Wf2sg8gM.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">atque</h4>
                   <p class="list-group-item-text">Ea earum excepturi et est.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1809 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/18">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/pa7DrV43Mw.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">voluptas</h4>
                   <p class="list-group-item-text">Molestias rem quis explicabo inventore rerum voluptates tenetur sequi.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1761 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/35">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/nIvBAQO5Pj.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">nihil</h4>
                   <p class="list-group-item-text">Sunt perspiciatis qui ut accusantium perspiciatis.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1739 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/27">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/C0bVuKB2nt.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">voluptas</h4>
                   <p class="list-group-item-text">Ut voluptatem non non explicabo voluptatem.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1665 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/50">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/pa7DrV43Mw.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">voluptatem</h4>
                   <p class="list-group-item-text">Consequuntur et dolor odit quia iste quibusdam.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1655 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                <a class="list-group-item" href="http://oldgoodstrade.test/products/39">
               <div class="media col-md-3">
                   <figure class="pull-left">
                       <img class="media-object img-rounded img-responsive" src="https://iocaffcdn.phphub.org/uploads/images/201806/01/5320/7kG1HekGK6.jpg" alt="" >
                   </figure>
               </div>
               <div class="col-md-6">
                   <h4 class="list-group-item-heading">hic</h4>
                   <p class="list-group-item-text">Excepturi quo et est et magnam itaque magnam ipsum.</p>
               </div>
               <div class="col-md-3 text-center">
                   <h2> 1584 <small> sales </small></h2>
                   <button type="button" class="btn btn-primary btn-lg btn-block">
                       Buy Now!
                   </button>
               </div>
          </a>
                </div>
    </div>
</div>
</div>
        </div>
        <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p><span class="glyphicon glyphicon-envelope">给我们建议</p>
          <p><span class="glyphicon glyphicon-pencil">Terms of use</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>由一辩必过组用<span class="glyphicon glyphicon-heart"></span>编码和设计</p>
          <p>© 一辩必过 - All rights reserved</p>
        </div>
      </div>
    </div>
</footer>
    </div>
    <!-- JS 脚本 -->
    <script src="/js/app.js?id=15bb7e40966865974b1d"></script>
        <script>
      $(document).ready(function() {
        //排行榜移入移出
        var $dropdownLi = $('li.dropdown');
        $dropdownLi.mouseenter(function() {
        $(this).addClass('open');
      }).mouseleave(function() {
        $(this).removeClass('open');
      });
    });
    </script>
</body>
</html>
